{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <p><button type="submit">Отправить</button></p>
</form>

<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#id_address').change(function () {
      var address = $(this).val();
      $.ajax({
        url: '/ajax-update/',
        data: {'apartment': address},
        dataType: 'json',
        success: function (data) {
          var apartments = data.apartment;
          var select = $('#id_apartment_id');
          select.empty();
          $.each(JSON.parse(data.apartment), function (index, item) {
            select.append('<option value="' + item + '">' + item.fields.number + '</option>');
          });
        }
      });
    });
  });
</script>-->
{% endblock %}